/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('../fonts/ubuntu-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
       url('../fonts/ubuntu-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1, h2, h3, h4, .archive-list label, .modular .bottom table th,
.contact label, .callout .pricing-container .pricing-item .name,
.callout .pricing-container .pricing-item .foot .button,
.callout .pricing-container .pricing-item .foot .archive-list button,
.archive-list .callout .pricing-container .pricing-item .foot button,
.callout .pricing-container .pricing-item .foot .contact button,
.contact .callout .pricing-container .pricing-item .foot button,
h5, h6 {
  font-family: "Ubuntu", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-transform: none;
}

.modular .bottom .button, .modular .bottom .archive-list button, .archive-list .modular .bottom button, .modular .bottom .contact button, .contact .modular .bottom button {
  font-family: "Ubuntu", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

a {
  color: #9d2153;
}


img.float-left {display:inline; float:left; margin:5px 15px 5px 0; max-width: 47%;}
img.float-right {float:right; margin:5px 0 5px 15px; max-width: 47%;}
img.aligncenter {display:block; margin:10px auto;}
img.border {background:#ccc; border:4px solid #f0f0f0; color:#333; padding:1px;}


.bg-pattern {
  background-color:#f0f0f0;
  background-image: url('../images/padrao.png');
}

#header {
  height:10rem;
}

#header #navbar ul.navigation li {
  text-transform: none;
}

#header #navbar ul.navigation li a:hover, a:hover {
  color: #4dd1ba;
}

#header #navbar ul.navigation li a {
  font-family: "Ubuntu", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

#header #navbar ul.navigation li:hover li.active > a {
  background-color: #4dd1ba;
}

#header .logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  margin-top:2em;
  background-size:contain;
  width:150px;
  height:50px;
}

#header .logo h3  a{
  margin-left:-3000px;
}

#header .social {
  display: block;
  min-width:12rem;
  float:right;
  margin-top:-3rem;
  font-size: 2rem;
  color:white;
}

#header .social .fa {
  color:#9d2153;
}

@media only all and (max-width: 47.938em) {
  #header .social {
    display: none;
  }
}
#body {
  padding-top:10rem;
}

@media only all and (min-width: 47.938em) {
  .showcase {
    height:340px;
    padding-top:2rem;
  }
}

.modular .slideme_container {
  height:33.4rem;
}

.modular .showcase h1 {
  font-size: 2em;
  position:relative;
  top:200px;
  left:6em;
  background-color:#fff;
  color:#9d2153;
  display:inline;
  width:100%;
  padding:0;
  font-weight: bold;
  text-transform: none;
}

.modular h2 {
  margin-top:0rem;
  color:#4dd1ba;
}

.modular .features {
  padding:0.5rem 0 0.5rem 0;
}

.modular .fa-participacao {
  mask-image: url('../images/rede.svg');
  -webkit-mask-image: url('../images/rede.svg');
  mask-size: contain;
  -webkit-mask-size: contain;
  height:7rem;
  width:7rem;
  background-color:#9d2153;
}

.modular .line-participacao {
  background-image: linear-gradient(90deg, #34466b, #f7ea79);
  height:0.5rem;
  margin-top:-2rem;
  margin-bottom:2rem;
}

.modular .fa-meioambiente {
  mask-image: url('../images/meioambiente.svg');
  -webkit-mask-image: url('../images/meioambiente.svg');
  mask-size: contain;
  -webkit-mask-size: contain;
  height:7rem;
  width:7rem;
  background-color: #9d2153;
}

.modular .line-meioambiente {
  background-image: linear-gradient(90deg, #4dd1ba, #238977);
  height:0.5rem;
  margin:-2rem 2px 2rem 2px;
}

.modular .fa-primeirainfancia {
  mask-image: url('../images/primeirainfancia.svg');
  -webkit-mask-image: url('../images/primeirainfancia.svg');
  mask-size: contain;
  -webkit-mask-size: contain;
  height:7rem;
  width:7rem;
  background-color:#9d2153;
}

.modular .line-primeirainfancia {
  background-image: linear-gradient(90deg, #9d2153, #f79f79);
  height:0.5rem;
  margin-top:-2rem;
  margin-bottom:2rem;
}

.modular .feature-items {
  overflow: hidden;
  background-color: #ffffff;
}
.modular .noticias {
  padding-bottom:1rem;
}

.modular .noticia {
  background-color:#fff;
  margin-top:1rem;
  padding:1rem;
}

.modular .noticia p {
  margin:1rem 0;
}

.modular .noticia .leia-mais {
  background-color: #9d2153;
  padding:0.2rem;
}

.modular .noticia .leia-mais a {
  color: white;
  font-weight: bold;
}

.modular .noticia .leia-mais a:hover {
  color: #4dd1ba;
  font-weight: bold;
}

.modular .noticia h2 {
  text-align: center;
}

.modular .noticia h4 {
  text-align: left;
}

.modular .noticia .noticia-img {
  float:left;
  margin:1.3rem 2rem 0 0;
}

@media only all and (max-width: 47.938em) {
  .modular .noticia .noticia-img {
    display: none;
  }
}
.modular .noticia .noticia-img img {
    border-radius: 50%;
}

.modular .noticia .noticia-content {
  display:table;
}

.modular .instagram {
  width:100%;
  display: flex;
  border:1px solid black;
  margin-bottom: 2rem;
}

.modular .instagram-pic {
  width:50%;
  float:left;
  border-right:1px solid black;
  text-align: center;
}
.modular .instagram-text {
  width:50%;
  float:right;
  padding-left: 2rem;
}
.modular .team {
  background-color: #ffffff;
}

.modular .bottom .button {
  background-color: #4dd1ba;
}


.modular .bottom .button:hover {
  background-color: #9d2153;
}

.button {
  background-color: #9d2153;
  border: #9d2153;
}

.button:hover {
  background-color: #9d2153;
  border: #9d2153;
  color: #4dd1ba;
}

.votes {
  margin-bottom:2em;
}


.footer .logo {
  background-image: url("../images/logo-white.png");
  background-repeat: no-repeat;
  margin-top:2em;
  width:200px;
  min-height:80px;
}

.footer .social {
  margin-top:1.2rem;
  float:right;
  min-width:12rem;
}
.footer .social .fa {
  font-size: 2rem;
  color:white;
  padding-right:1rem;
}
.footer .logo h3 a {
  margin-left:-3000px;
}

.footer {
  background-color:#9d2153;
}


/* Votacao.twig CSS */
@media only all and (max-width: 47.938em) {
  table.votes {
    border:0;
  }

  table.votes thead {
    display:none;
  }

  table.votes tr {
    display:block;
    border-bottom: 0.1rem solid #ddd;
    box-shadow:2px 2px 1px #dadada;
    margin-bottom:20px;
  }

  table.votes td {
    display:block;
    text-align: right;
  }

  table.votes td::before {
    content: attr(data-label);
    float:left;
    font-weight: bold;
  }

}

/* Mailchimp hack */
#__lpform_mce-EMAIL {
  display:none !important;
}
