@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1, h2, h3, h4, .archive-list label, .modular .bottom table th,
.contact label, .callout .pricing-container .pricing-item .name,
.callout .pricing-container .pricing-item .foot .button,
.callout .pricing-container .pricing-item .foot .archive-list button,
.archive-list .callout .pricing-container .pricing-item .foot button,
.callout .pricing-container .pricing-item .foot .contact button,
.contact .callout .pricing-container .pricing-item .foot button,
h5, h6 {
  font-family: "Ubuntu", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

a {
  color: #9d2153;
}


#header #navbar ul.navigation li {
  text-transform: none;
}

#header #navbar ul.navigation li a:hover, a:hover {
  color: #4dd1ba;
}

#header #navbar ul.navigation li a {
  font-family: "Ubuntu", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

#header #navbar ul.navigation li:hover li.active > a {
  background-color: #4dd1ba;
}

#header .logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  margin-top:2em;
  background-size:contain;
  width:150px;
  height:50px;
}

#header .logo h3  a{
  margin-left:-3000px;
}


#body {
  padding-top:12em;
}

.showcase {
  height:300px;
}

.modular .showcase h1 {
  font-size: 2em;
  position:relative;
  top:200px;
  left:6em;
  background-color:#fff;
  color:#9d2153;
  display:inline;
  width:100%;
  padding:0;
  font-weight: bold;
  text-transform: none;
}


.modular .noticia h4 {
  text-align: left;
}

.modular .noticia .noticia-img {
  float:left;
  margin:1.3rem 2rem 0 0;
}

.modular .noticia .noticia-img img {
    border-radius: 50%;
}

.modular .noticia .noticia-content {
  display:table;
}

.modular .team {
  background-color: #ffffff;
}

.modular .bottom .button {
  background-color: #4dd1ba;
}

.modular .bottom .button:hover {
  background-color: #9d2153;
}

.votes {
  margin-bottom:2em;
}


.footer .logo {
  background-image: url("../images/logo-white.png");
  background-repeat: no-repeat;
  margin-top:2em;
  width:200px;
  min-height:80px;
}

.footer .logo h3 a {
  margin-left:-3000px;
}

.footer {
  background-color:#9d2153;
}
