<div class="modular-row instagram {{ page.header.class}}">
    <div class="instagram-pic">{{ page.media.images|first.cropZoom(300,300).html }}</div>
    <div class="instagram-text">{{ content }}</div>
</div>
